name: Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  build_prebuilds:
    name: Build Prebuilds
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Build and Upload Prebuilds
        run: npx prebuild --upload ${{ secrets.GITHUB_TOKEN }}
